.main a{
    text-decoration: none;
    color: dimgrey;
    margin-right: 2%;
    margin-top: -4%;
    
}
.logo{
    margin-top: -2%;
}
.main{
    display:flex;
    justify-content: end;
    
    
}
.done{
 width: 95%;
 
}
.menu{
    background-color: rgb(79, 23, 130);
    color:aliceblue;


}
.hlo{
    color:chocolate;

}
.l{
    background-color: brown;
    width:150px;
    height:50px;
    
}
.a{
    border-bottom: 1px solid white;
}
.yes{
    width:90px;
    height: 100px;
    margin-top: 50px;
}
.did{
     display: inline;
     margin-left: 4%;
     color:brown;
}







