.main a{
    text-decoration: none;
    color: dimgrey;
    margin-right: 2%;
    margin-top: -3%;
}
.main{
    display:flex;
    justify-content: end;
    
    
}
.done{
 width: 95%;
 margin-top: -12%;
}




